@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(161, 100, 223);
    margin: 0;
}

.btn {
    font-family: "Abel", sans-serif;
    position: relative;
    cursor: pointer;
    background-color: rebeccapurple;
    border: 0;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1rem;
    border-radius: 5px;
    color: white;
}

.btn:hover {
    opacity: 0.9;
}

.web {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}

.web select {
    height: 8vh;
    width: 10vw;
    background-color: #444;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
}