* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(161, 100, 223);
    margin: 0;
}

.btn {
    height: 12vh;
    width: 10vw;
    position: relative;
    cursor: pointer;
    background-color: violet;
    border: 0;
    font-size: 1.2rem;
    padding: 15px;
    margin: 15px;
    color: black;
}